<%= form_with url: root_path, method: :get do |f| %>
  <%= f.label :flight, "Search for flight:" %>
  <p>Departure: <%= f.select(:departure_airport_id, (all_airport_options)) %></p>
  <p>Arrival: <%= f.select(:arrival_airport_id, (all_airport_options)) %></p>
  <p>Dates: <%= f.select(:start, (date_options)) %></p>
  <p>Passengers: <%= f.select(:passenger, (num_passenger_options)) %></p>
  <p><%= f.submit "Search" %></p>
<% end %>

<%# submits departure_airport_id,arrival_airport_id,passenger,start params to FlightsController %>