<%= form_with url: new_booking_path , method: :get do |f| %>
        <% @result.each do |r|%>
            <%= radio_button_tag(:flight_id, r.id, { checked: true }) %>
            <p>From: <%= r.departure_airport.code %></p>
            <p>To: <%= r.arrival_airport.code %></p>
            <p>On: <%= r.start.strftime("%B %d, %Y") %></p>
            <p>Time: <%= r.start.strftime("%H:%M") %></p>
            <p>Duration: <%= r.duration %> hours</p>
        <%end%>
        <%= f.submit "Book Flight" %>
<% end %>

<%# submits flight_id params to BookingsController %>