<div class='nested-fields' >
    <%= f.hidden_field :_destroy%>
    <%= f.label :name, 'Name: ' %>
    <%= f.text_field :name %>
    <%= f.label :email, 'Email: ' %>
    <%= f.text_field :email %>
    <button type="button" data-action="nform#remove">Remove passenger</button>
</div>