<h2>Flight details:</h2>
<p><%= @flight.departure_airport.code %> --> <%= @flight.arrival_airport.code %></p>
<p>Departure: <%= @flight.start.strftime("%B %d, %Y") %>, <%= @flight.start.strftime("%H:%M") %> </p>
<p>Duration: <%= @flight.duration %> hours</p>

<%= form_with model: @booking do |f| %>
    <%= f.hidden_field :flight_id, value: @flight.id %>
    Passengers:
    
    <div data-controller="nform" >
        <template data-nform-target ="rendertemp" >
            <%= f.fields_for :passengers, Passenger.new, child_index:'TEMPLATE_RECORD' do |sub_form| %>
                <%= render 'passenger_fields',f: sub_form %>
            <%end%>
        </template>
        
        <%= f.fields_for :passengers do |sub_form| %>
            <%= render 'passenger_fields',f: sub_form %>
        <%end%>

        <div data-nform-target="addpass" > </div>
        <button type="button" data-action="click->nform#add">Add passenger</button>
    </div>

    <%= f.submit 'buy tickets' %>
<% end %>