<h2>Flight details:</h2>
<p><%= @flight.departure_airport.code %> --> <%= @flight.arrival_airport.code %></p>
<p>Departure: <%= @flight.start.strftime("%B %d, %Y") %>, <%= @flight.start.strftime("%H:%M") %> </p>
<p>Duration: <%= @flight.duration %> hours</p>

<%= form_with model: @booking do |f| %>
    <%= f.hidden_field :flight_id, value: @flight.id %>
    Passengers:
    <ul>
        <%= f.fields_for :passengers do |sub_form| %>
        <li>
            <%= sub_form.label :name, 'Name: ' %>
            <%= sub_form.text_field :name %> 
            <%= sub_form.label :email, 'Email: ' %>
            <%= sub_form.text_field :email %>
        </li>
        <% end %>
    </ul>
    <%= f.submit 'buy tickets' %>
<% end %>